<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap" rel="stylesheet">
    <title>Мои достижения</title>
</head>
<body>
<div class="container">
    <div class="background">
        <img src="/static/img/fon.jpg">
    </div>
    <h1 class="text-center">Мои достижения за 2022/2023 учебный год</h1>
    <h2 class="text-center"><a href="https://vk.com/artlab_surgu?w=wall-186896763_906">Хакатон SurGU.Mobile</a></h2>
    <div class="mer-text text-center">12 - 13 ноября 2022 года в СурГУ прошел хакатон SurGU.Mobile. Наша команда
        разработала
        приложение для создания и прохождения опросов. Мы заняли первое место в категории START.
    </div>
    <div class="text-center">
        <img src="/static/img/echo.jpg" style="width: 700px; margin-top:20px;">
    </div>
    <h2 class="text-center"><a href="https://vk.com/artlab_surgu?w=wall-186896763_937">SurCTF PRO</a></h2>
    <div class="mer-text text-center">19 ноября 2022 года прошли IV соревнования по информационной безопасности SurCTF.
        Это были
        не первые такие соревнования для меня, в 2021/2022 учебном году я так же участвовал в SurCTF и занимал призовые
        места. В этот раз нашей команде qwerty123 удалось занять второе место в школьном зачете.
    </div>
    <div class="text-center">
        <img src="/static/img/qwerty.png" style="width: 400px; margin-top:20px;">
        <img src="/static/img/qwertyphoto.jpg" style="width: 700px; margin-top:20px; margin-left: 20px;">
    </div>
    <h2 class="text-center"><a href="https://vk.com/artlab_surgu?w=wall-186896763_926">II хакатон «Digital
        challenge»</a></h2>
    <div class="mer-text text-center">26-27 ноября 2022 года прошел второй хакатон Digital challenge в СурГУ. Перед моей
        командой встала задача разработать мобильное приложение для профсоюза СурГУ. С поставленной задачей мы успешно
        справились и заняли третье место.
    </div>
    <div class="text-center">
        <img src="/static/img/digital.png" style="width: 400px; margin-top:20px;">
        <img src="/static/img/pachka.jpg" style="width: 700px; margin-top:20px; margin-left: 20px;">
    </div>
    <h2 class="text-center"><a href="https://vk.com/itcube86?w=wall-198181005_511">Хакатон SurHack</a></h2>
    <div class="mer-text text-center">
        С 11 по 13 апреля 2023 года в IT-Кубе проходил хакатон по разработке мобильных приложений SurHack. Наша команда
        выбрала кейс, в котором надо было разработать маркетплейс для продажи товаров ручной работы. Мы создали
        мобильное приложение, успешно выполнили поставленную задачу и заняли первое место.
    </div>
    <div class="text-center">
        <img src="/static/img/Plokhikh.png" style="width: 400px; margin-top:20px;">
        <img src="/static/img/surhack.JPG" style="width: 700px; margin-top:20px; margin-left: 20px;">
    </div>
    <h2 class="text-center">Конкурс "Школьная информатика"</h2>
    <div class="mer-text text-center">
        13 апреля 2023 года в СурГПУ прошел научно-технический конкурс "Школьная информатика". Я представил свой проект
        <a href="https://github.com/resgjk/PicStudio">PicStudio</a> (небольшой графический редактор) в номинации
        "программирование". Мой проект отметили за эксперименты в
        программировании графических интерфейсов.
    </div>
    <div class="text-center">
        <img src="/static/img/school_inform.png" style="width: 400px; margin-top:20px;">
    </div>
    <h2 class="text-center"><a href="https://vk.com/artlab_surgu?w=wall-186896763_1050">SurCTF Spring 2023</a></h2>
    <div class="mer-text text-center">
        13 мая 2023 года в СурГУ состоялись V соревнования по информационной безопасности SurCTF Spring 2023. По моему
        мнению, это был самый атмосферный и эмоциональный SurCTF. Путем жестокой борьбы с другими командами наша команда
        смогла занять третье место в школьном зачете.
    </div>
    <div class="text-center">
        <img src="/static/img/tyagi.png" style="width: 400px; margin-top:20px;">
        <img src="/static/img/cft.jpg" style="width: 700px; margin-top:20px; margin-left: 20px;">
    </div>
    <div style="margin-left: 80px; margin-top: 100px;">
        <div class="row">
            <a href="http://qrcoder.ru" target="_blank" style="font-size: 25px; color: #8A4E8A;"><img
                    src="http://qrcoder.ru/code/?https%3A%2F%2Fgithub.com%2Fresgjk&6&0" width="198" height="198"
                    border="0" title="QR код">Мой github</a>
        </div>
    </div>
</div>
</body>
</html>